<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>UnFootball</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
		<!-- Import dependencies from node-->
  <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"/>
  <script src="../../js/off_menu.js"></script>
</head>
<body style="background: lightgray;">
    <h1 class="text-center">Mon application</h1>
		<p class="text-center">Choisissez la ligue que vous desirez.</p>
    <buton type="button" class="btn">Ligue1</button>
    <buton type="button" class="btn">La Liga</button>
    <buton type="button" class="btn">Premier League</button>
    <buton type="button" class="btn">Bundesliga</button>
    <buton type="button" class="btn">Serie A</button>
    <buton type="button" class="btn" onclick="location.href='./next_fixtures.html'">Prochain matchs</button>
		<button type="button" class="btn btn-danger" onclick="location.href='../index.html'">Retour à la page d'accueil</button>

</body>
</html>
