<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>UnFootball</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
		<!-- Import dependencies from node-->
  <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"/>
  <script type="module" src="../../js/onl_menu.js"></script>
</head>
<body style="background: lightgray;">
    <h1 class="text-center">Mon application</h1>
		<p class="text-center">Choisissez la ligue que vous desirez.</p>
    <div>
    <buton id="next_fixtures" type="button" class="btn">Today fixtures</button></br>
    </div>
      <!-- Search form -->
<div class="md-form mt-0">
  <input id="searchLeague" class="form-control" type="text" placeholder="Search per league or country" aria-label="Search">
  <input id="searchCountry" class="form-control" type="text" placeholder="Search a team" aria-label="Search">
</div>
		<button id="home_page" type="button" class="btn btn-danger">Retour à la page d'accueil</button>
</body>
</html>
