<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>UnFootball</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
		<!-- Import dependencies from node-->
  <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"/>
  <script type="module" src="../../js/onl_team.js"></script>
</head>
<body style="background: lightgray;">
    <h1 id="title" class="text-center">League</h1>
    <div>
      <table>
      <tbody id="infos">
      </tbody>
      </table>
    </div>
    <div>
      <h3>Latest fixtures</h3>
      <table>
        <th>Date</th>
        <th>Home team</th>
        <th>Away team</th>
        <th>Final score</th>
        <th>League</th>
        <tbody id="latestFixtures">
        </tbody>
      </table>
      <div>
    <div>
      <h3>Next fixtures</h3>
      <table>
        <th>Date</th>
        <th>Home team</th>
        <th>Away team</th>
        <th>League</th>
        <tbody id="nextFixtures">
        </tbody>
      </table>
      <div>
          <button id="go_back" type="button" class="btn btn-danger" >Retour</button>
      </div>
</body>
</html>
