<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>UnFootball</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
		<!-- Import dependencies from node-->
  <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"/>
  <script type="module" src="../../js/onl_league.js"></script>
</head>
<body style="background: lightgray;">
    <h1 id="title" class="text-center">League</h1>
    <div>
      <table>
      <tbody id="infos">
      </tbody>
      </table>
    </div>
      <br/>
      <div id="rankings">
      </div>
      <div>
        <h3> Rounds </h3>
        <ul id="rounds">

        </ul>
      </div>
      <div>
        <button id="go_back" type="button" class="btn btn-danger" >Menu</button>
      </div>
</body>
</html>
