<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>UnFootball</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
		<!-- Import dependencies from node-->
		<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body style="background: #f8f8f8;">
    <h1 class="text-center">Mon application géniale</h1>
		<p class="text-center">Application réalisée dans le cadre du cours de node.js </p>
		<div class="d-flex justify-content-center">
			<button type="button" class="btn btn-primary" onclick="location.href='online/menu.html'">En ligne</button>
			<button type="button" class="btn btn-success" onclick="location.href='offline/menu.html'">Hors ligne</button>
		</div>
</body>
</html>
