<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>UnFootball</title>
  <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
  <!-- Import dependencies from node-->
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css" />
  <script type="module" src="../js/match.js"></script>
  <link rel="stylesheet" href="./stylesheets/styles.css" />
</head>

<body>
  <nav class="navbar navbar-dark" style="background-color: #1a1a1a">
    <a class="navbar-brand" href="./menu.html">
      <img src="../icons/icon.png" width="30" height="30" class="d-inline-block align-top" alt=""> UnFootball
    </a>
  </nav>
  <br />
  <div class="container">
    <h1 id="title" class="text-center">Match</h1>
    <br />
    <h3>Events</h3>
    <div class="card">
      <ul id="events" class="list-group list-group-flush">
      </ul>
    </div>
    <div>
      <br />
      <h3>Coachs</h3>
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Home Team</th>
            <th>Away Team</th>
          </tr>
        </thead>
        <tbody id="coachs">
        </tbody>
      </table>
    </div>
    <br />
    <div>
      <br />
      <h3>Starting XI</h3>
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Home Team</th>
            <th>Away Team</th>
          </tr>
        </thead>
        <tbody id="lineups">
        </tbody>
      </table>
    </div>
    <div>
      <br />
      <h3>Substitutes</h3>
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Home Team</th>
            <th>Away Team</th>
          </tr>
        </thead>
        <tbody id="substitutes">
        </tbody>
      </table>
    </div>
    <br />
  </div>

</body>

</html>
