<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>UnFootball</title>
  <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
  <!-- Import dependencies from node-->
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../icons/fa/css/font-awesome.min.css">
  <script type="module" src="../js/menu.js"></script>
  <link rel="stylesheet" href="./stylesheets/styles.css"/>
</head>

<body>
  <nav class="navbar navbar-dark" style="background-color: #1a1a1a">
    <a class="navbar-brand">
      <img src="../icons/icon.png" width="30" height="30" class="d-inline-block align-top" alt=""> UnFootball
      <span id="next_fixtures" style="color: white" class="btn">Today fixtures</span><br/>
    </a>
    <form class="form-inline my-2 my-lg-0">
      <i id="lock" class="fa fa-lock" aria-hidden="true" style="color:lightsteelblue"></i>
      <input id="write_key" disabled="disabled" class="form-control mr-sm-2" type="password" placeholder="Change the api key" aria-label="Search">
      <small><a id="get_an_api_key" href="#">Get an api key</a></small>
    </form>
    <div>
        <input id="searchbar" class="form-control mr-sm-2 black-themed-input" type="search" placeholder="Search" aria-label="Search">
    </div>
  </nav>
  <br />
  <div class="container">
    <h1 id="title" class="text-center ">Latest news </h1>
    <div class="card">
      <ul id="latest_news" class="list-group list-group-flush">
      </ul>
    </div>
  </div>
</body>

</html>
