<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>UnFootball</title>
  <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
  <!-- Import dependencies from node-->
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css" />
  <script type="module" src="../js/menu.js"></script>
</head>

<body style="background: #000000;">
  <nav class="navbar navbar-dark" style="background-color: #1a1a1a">
    <a class="navbar-brand">
      <img src="../icons/icon.png" width="30" height="30" class="d-inline-block align-top" alt=""> UnFootball
        <buton id="next_fixtures" type="button" style="color: #ffffff" class="btn">Today fixtures</button></br>
    </a>
    <form class="form-inline my-2 my-lg-0">
      <input id="write_key" class="form-control mr-sm-2" type="password" placeholder="Change the api key" style="background: #000000; border-color: #2b2b2b" aria-label="Search">
      <small><a id="get_an_api_key" href="#">Get an api key</a></small>
    </form>
    <div class="dropdown">
      <div id="myDropdown" class="dropdown-content">
        <input id="searchbar" class="form-control mr-sm-2" type="search" placeholder="Search" style="background: #000000; border-color: #2b2b2b" aria-label="Search">
      </div>
    </div>
  </nav>
  <br />
  <div class="container">
    <h1 id="title" class="text-center" style="color: #ffffff">Latest news</h1>
    <div class="card" style="background-color: #2b2b2b">
      <ul id="latest_news" class="list-group list-group-flush" style="background-color: #ffffff">
      </ul>
    </div>
    <div>
    </div>
  </div>
</body>

</html>
