<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>UnFootball</title>
  <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
  <!-- Import dependencies from node-->
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="./stylesheets/styles.css" />
  <script type="module" src="../js/player.js"></script>
</head>

<body>
  <nav class="navbar navbar-dark" style="background-color: #1a1a1a">
    <a class="navbar-brand" href="./menu.html">
      <img src="../icons/icon.png" width="30" height="30" class="d-inline-block align-top" alt=""> UnFootball
    </a>
  </nav>
  <div class="container">
    <br />
    <div class="row justify-content-md-center">
    <img id="picture" alt="Player picture"></img>
  </div>
    <br />
    <div class="row justify-content-md-center">
      <h2 id="playerName" class="d-flex justify-content-center"><b>Player name.</b></h2>
    </div>
    <br />
    <div>
      <p class="card-text" id="desc">Player description.</p>
      <select id="select" class="form-select" aria-label="Default select example">
      </select>
      <h3 id="statsdesc">Stats description.</h3>
      <br />
      <div>
        <h3>Games</h3>
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>Appearences</th>
              <th>Minutes</th>
              <th>Line ups</th>
              <th>Captain</th>
            </tr>
          </thead>
          <tbody id="games">
          </tbody>
        </table>
      </div>
      <br />
      <div>
        <h3>Substitutes</h3>
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>In</th>
              <th>Out</th>
              <th>Bench</th>
            </tr>
          </thead>
          <tbody id="substitutes">
          </tbody>
        </table>
      </div>
      <br />
      <div>
        <h3>Cards</h3>
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>Yellow</th>
              <th>Second yellow</th>
              <th>Straight red</th>
            </tr>
          </thead>
          <tbody id="cards">
          </tbody>
        </table>
      </div>
      <br />
      <div>
        <h3>Goals</h3>
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>Total</th>
              <th>Conceded</th>
              <th>Assist</th>
              <th>Save</th>
            </tr>
          </thead>
          <tbody id="goals">
          </tbody>
        </table>
      </div>
      <br />
      <div>
        <h3>Passes</h3>
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>Total</th>
              <th>Key</th>
              <th>Accuracy</th>
            </tr>
          </thead>
          <tbody id="passes">
          </tbody>
        </table>
      </div>
      <br />
      <div>
        <h3>Shots</h3>
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>Total</th>
              <th>On target</th>
            </tr>
          </thead>
          <tbody id="shots">
          </tbody>
        </table>
      </div>
      <br />
      <div>
        <h3>Penalties</h3>
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>Won</th>
              <th>Commited</th>
              <th>Success</th>
              <th>Missed</th>
              <th>Saved</th>
            </tr>
          </thead>
          <tbody id="penalties">
          </tbody>
        </table>
      </div>
    </div>
    <br />
    <div>
      <h3>Dribbles</h3>
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Attempts</th>
            <th>Success</th>
          </tr>
        </thead>
        <tbody id="dribbles">
        </tbody>
      </table>
    </div>
    <br />
    <div>
      <h3>Duels</h3>
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Total</th>
            <th>Won</th>
          </tr>
        </thead>
        <tbody id="duels">
        </tbody>
      </table>
    </div>
    <br />
    <div>
      <h3>Tackles</h3>
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Total</th>
            <th>Blocks</th>
            <th>Interception</th>
          </tr>
        </thead>
        <tbody id="tackles">
        </tbody>
      </table>
    </div>
    <br />
    <div>
      <h3>Fouls</h3>
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Drawn</th>
            <th>Commited</th>
          </tr>
        </thead>
        <tbody id="fouls">
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>
