<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>UnFootball</title>
  <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
  <!-- Import dependencies from node-->
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="./stylesheets/styles.css" />
  <script type="module" src="../js/team.js"></script>
</head>

<body>
  <nav class="navbar navbar-dark" style="background-color: #1a1a1a">
    <a class="navbar-brand" href="./menu.html">
      <img src="../icons/icon.png" width="30" height="30" class="d-inline-block align-top" alt=""> UnFootball
    </a>
  </nav>
  <div class="container">
    <div class="row justify-content-md-center">
      <img id="logo" class="card-img-top" alt="team logo" style="max-width: 150px; max-height: 150px">
    </div>
    <br />
    <div class="row justify-content-md-center">
      <h2 id="clubName"class="d-flex justify-content-center"><b>Team name.</b></h2>
    </div>
    <br />
    <div class="row justify-content-md-center">
      <h3 id="profiling" class="d-flex justify-content-center"><b>Profiling.</b></h2>
    </div>
    <br/>
    <p class="card-text" id="desc">Team description.</p>
    <div>
      <h3>Current squad</h3>
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Nationality</th>
            <th>Age</th>
            <th>Birth date</th>
            <th>Size</th>
            <th>Weight</th>
          </tr>
        </thead>
        <tbody id="squad">
        </tbody>
      </table>
      <div>
    <div>
      <h3 >Latest fixtures</h3>
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Date</th>
            <th>Home team</th>
            <th>Away team</th>
            <th>Final score</th>
            <th>League</th>
          </tr>
        </thead>
        <tbody id="latestFixtures">
        </tbody>
      </table>
      <div>
        <div>
          <h3 >Next fixtures</h3>
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>Date</th>
                <th>Home team</th>
                <th>Away team</th>
                <th>League</th>
              </tr>
            <tbody id="nextFixtures">
            </tbody>
          </table>
        </div>
      </div>
</body>

</html>
